// Estilos para componente footer
@use 'base/mixins' as m;
@use 'base/variables' as v;


.footer {
    margin-top: 6rem;
    padding: 6rem 3rem;
    background-color: v.$primary;
    &__content {
        display: flex;
        flex-direction: column;

        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(2, .8fr) 1fr 3fr;
            gap: 2rem;
        }

        & ul {
            padding-left: 0;
            font-size: 1.5rem;
        }

        & li {
            margin: 2.5rem 0;
        }

        & li#footer-icons {
            @include m.flexLayout(row,space-around,center,0);
        }
    }
}