// Estilos para producto individual de una lista
@use 'base/variables' as v;
@use 'base/mixins' as m;


.product {
    display: flex;
    flex-direction: column;

    &__container {
        padding: 1rem 0;
        display: block;
    }

    &__content {
        position: relative;
        width: 100%;
        max-width: 230px;
        margin: auto;
        overflow: hidden;

        &:hover &--overlay {
            opacity:1;
        }


        &:hover &--details {
            opacity:1;
            top:50%;
            left:50%;
        }

        &--overlay {
            position: absolute;
            height: 99%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }

        &--badge {
            position: absolute;
            top: 5%;
            left: 5%;
        }

        &--buttons {
            position: absolute;
            bottom: 10%;
            left:50%;
            transform: translateX(-50%);
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            row-gap: 2rem;
        }
    }

    &__details {
        &--title {
            color: v.$darkGray;
            margin-top:0;
            margin-bottom: .5rem;
        }
        &--price {
            margin-top:.5rem;
        }
    }
}

