@use 'variables' as v;
@use 'mixins' as m;


html  {
    font-size: 62.5%;
    box-sizing:border-box;
}

*,*:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$main_font;
    font-size: 1.6rem;
}

p {
    color: v.$black;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit
}

img {
    max-width: 100%; 
    display:block;
}

h1,h2,h3 {
    margin: 0 0 v.$separation 0;
    
}

h1 {
    font-size:4rem
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size:3.2rem;
}

h3 {
    font-size:2.7rem;
}

h4 {
    font-size:2.0rem;
}

h5 {
    font-size:1.6rem;
}

ul {
    list-style: none;
    color: inherit;
    padding-left:0;
}

input {
    outline: none;
    border: none;
}

.container {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;

    @include m.tablet {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 4rem 6rem;
    }
}

.fadeIn-bottom {
    top: 80%;
}
  
.fadeIn-top{
   top: 20%;
}
  
.fadeIn-left{
    left: 20%;
}
  
.fadeIn-right{
   left: 80%;
}

select {
    appearance: none;
    background: white;
    border: 0;
    border-bottom: 2px solid black;
    font-weight: bold;
    padding: .125rem 1.8rem 0 0;
    font-size: 14px;
  }