$main_font: "Inter";
$content_font: "Source Sans Pro";

$phone: 500px;
$tablet: 768px;
$desktop: 1024px;

$primary: #c4dfdf;
$secondary: #455a64;
$black: #000;
$white: #ffffff;
$lightGray: #eceeef;
$midGray: #a0a0a0;
$darkGray: #747474;
$danger: #ff4d4d;
$success: #5edb3f;
$info: #55cbfa;
$warning: #d6d300;

$separation: 5rem;
